@font-face {
    font-family: "Red Hat Text Bold";
    src: url(../assets/fonts/static/RedHatText-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: "Red Hat Text Semi Bold";
    src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Red Hat Text Regular";
    src: url(../assets/fonts/static/RedHatText-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}


/* Format 1rem = 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

*,*::before,*::after{padding: 0px;margin: 0px;box-sizing: border-box;}

.df{display: flex;align-items: center;justify-content: center;}

img {width: 100%;max-width: 100%;}

.not-visible {display: none !important;transition: all 0.4 ease;}


:root {

    /* Colors */
    --red: #C73B0F;
    --rose-900: #260F08;
    --rose-500: #87635A;
    --rose-400: #AD8A85;
    --rose-300: #CAAFA7;
    --rose-100: #F5EEEC;
    --rose-50: #FCF8F6;
    --green: #1EA575;
    --black: #000000;
    --white: #FFFFFF;

    /* Spacings */
    --spacing-1100: 8.8rem;
    --spacing-500: 4rem;
    --spacing-400: 3.2rem;
    --spacing-300: 2.4rem;
    --spacing-200: 1.6rem;
    --spacing-150: 1.2rem;
    --spacing-100: 0.8rem;
    --spacing-50: 0.4rem;

    /* Typography */
    --text-preset-bold: "Red Hat Text Bold";
    --text-preset-semi-bold: "Red Hat Text Semi Bold";
    --text-preset-regular: "Red Hat Text Regular";
}




/* Global */

ul{
    list-style: none;
}

body{
    background-color: var(--rose-50);
}

.text-preset-1 {
    font-size: 5.6rem;
    line-height: 120%;
    letter-spacing: 0px;
    font-family: var(--text-preset-bold);
}

.text-preset-2{
    font-size: 2.4rem;
    line-height: 125%;
    letter-spacing: 0px;
    font-family: var(--text-preset-bold);
}

.text-preset-3{
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-family: var(--text-preset-semi-bold);

}

.text-preset-4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-family: var(--text-preset-regular);
}

.text-preset-4-bold{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-family: var(--text-preset-bold);
}


.container {
    width: 100%;
    max-width: 100%;
    padding: var(--spacing-300);
    margin:0 auto;
    box-sizing: border-box;
}


.products {margin-top: var(--spacing-400);}
.product {margin-bottom: var(--spacing-300);}
.product .product__image{border-radius: var(--spacing-100);}
.product .product__header {position: relative;margin-bottom: var(--spacing-200);}
.product .product__picture-selected {border: 2px solid var(--red);}
.product .product__btn {position: absolute;bottom: 0px;transform:translateY(30%);background-color: white;border: 1px solid var(--rose-400);border-radius: var(--spacing-1100);width: 16rem;height: 4.4rem;gap: var(--spacing-100);}
.product .product__btn .text-preset-4-bold {color:var(--rose-900)}
.product .product__icon {width: 20px;height: 20px;}
.product .product_category {color: var(--rose-500);}
.product .product_name {color: var(--rose-900);}
.product .product_price {color: var(--red);}
.product .product__btn:hover {border:1px solid var(--red);transition: all 0.4s ease;cursor: pointer;}
.product .product__btn:hover .text-preset-4-bold {color:var(--red);transition: all 0.4s ease;}
.product .product__btn--update-1 {background-color: var(--red);transition: background-color 0.3s;border-color: var(--red);justify-content: space-around;}
.product .product__btn--update-1 .text-preset-4-bold {color:var(--white);}
.product .product__btn--update-1:hover  .text-preset-4-bold {color:var(--white);transition: all 0.4s ease;}
.product .product__btn--update-1 .product__icon {display: none;}
.product .product__btn .product_add {background-color: transparent;border: none;}
.product .product__btn .product_add:hover {cursor: pointer;}
.product .product__incrementdecrement {background-color: transparent;border: none;border: 1px solid white;width: 2rem;height: 2rem;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.product .product__incrementdecrement svg {width: 1rem;}
.product .product__incrementdecrement:hover {background-color: white;cursor: pointer;transition: all 0.4s ease;}
.product .product__incrementdecrement:hover svg path {fill:var(--red);}

.cart {padding: var(--spacing-300);background-color: var(--white);border-radius: var(--spacing-150);margin-top: var(--spacing-300);}
.cart .cart__title {color: var(--red);padding-bottom: var(--spacing-300);}
.cart .cart__content--empty {display: flex;align-items: center;justify-content: center;flex-direction: column;gap: var(--spacing-200);}
.cart .cart__content--empty img {width: 12.8rem;height: 12.8rem;}
.cart .cart__content--empty .cart_content--empty--title {color: var(--rose-500);}

.cart .cart_full .cart__items {padding-top: var(--spacing-300);padding-bottom: var(--spacing-300);}

.cart .cart_full .cart__items .cart__item > li:first-child {padding-top: 0px;}



.cart .cart_full .cart__items .cart__item .cart__item-_title {color: var(--rose-900);}
.cart .cart_full .cart__items .cart__item {padding-top: var(--spacing-200);}
.cart .cart_full .cart__items .cart__item {position: relative;display: flex;flex-direction: column;justify-content: center;border-bottom: 1px solid var(--rose-100);padding-bottom: var(--spacing-200);}
.cart .cart_full .cart__items .cart__item .cart__items-details {display: flex;flex-direction: row;gap:var(--spacing-100);}
.cart .cart_full .cart__items .cart__item .cart__items-details .cart__items-details-amount {color:var(--red);margin-right: var(--spacing-50);}
.cart .cart_full .cart__items .cart__item .cart__items-details .cart__items-details-price {color:var(--rose-500);}
.cart .cart_full .cart__items .cart__item .cart__items-details .cart__items-details-total {color:var(--rose-500);}
.cart .cart_full .cart__items .cart__item .cart__item-remove {position: absolute;width: 2rem;height: 2rem;border:1px solid var(--rose-400);border-radius: 50%;display: flex;align-items: center;justify-content: center;right: 0px;}
.cart .cart_full .cart__items .cart__item .cart__item-remove img {width: 0.875rem;height: 0.875rem;}
.cart .cart_full .cart__items .cart__item .cart__item-remove:hover{filter: invert(1);transition: all 0.4s ease;cursor: pointer;}
.cart .cart_full .cart__total {padding-top: var(--spacing-300);padding-bottom: var(--spacing-300);}
.cart .cart_full .cart__total .cart__total--content {display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.cart .cart_full .cart__total .cart__total--content .cart__total--title {color: var(--rose-900);}
.cart .cart_full .cart__total .cart__total--content .cart__total--total {color: var(--rose-900);}
.cart .cart_full .cart__total .cart__total-carbon {background-color: var(--rose-50);padding: var(--spacing-200);display: flex;flex-direction: row;justify-content: center;gap: var(--spacing-100);margin-top: var(--spacing-300);margin-bottom: var(--spacing-300);}
.cart .cart_full .cart__total .cart__total-carbon .cart__total-carbon-icon {width: 2rem;height: 2rem;}
.cart .cart_full .cart__total .cart__total-carbon .cart__total-carbon-title {color: var(--rose-900);}
.cart .cart_full .cart__total .cart__total-confirm .cart__total-confirm-button {background-color: var(--red);width: 100%;height: 5.3rem; color:var(--white);border-radius: var(--spacing-1100);border: none;}
.cart .cart_full .cart__total .cart__total-confirm .cart__total-confirm-button:hover {filter: brightness(75%);transition: all 0.4s ease;cursor: pointer;}



.modal {position: fixed;width: 100%;height: 100%;top:0px;}
.modal_empty {background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;position: absolute;top: 0px;}
.modal .modal__content {background-color: white;height: auto;width: 100%;position: absolute;bottom:0px;padding:var(--spacing-500) var(--spacing-300);border-radius: var(--spacing-300);}
.modal .modal__content .modal__content-header .modal__content-header-icon img {width: 4.2rem;height: 4.2rem;margin-bottom: var(--spacing-300);}
.modal .modal__content .modal__content-header .modal__content-header-title{color: var(--rose-900);}
.modal .modal__content .modal__content-header .modal__content-header-description{color: var(--rose-500);}
.modal .modal__content .modal__content-items {padding:var(--spacing-400);background-color: var(--rose-50);border-radius: var(--spacing-100);margin-top: var(--spacing-300);margin-bottom: var(--spacing-300);}
.modal .modal__content .modal__content-items .modal__content-items-s {max-height: 21rem;overflow-y: auto;}
.modal .modal__content .modal__content-item ul {display: flex;flex-direction: row;justify-content: space-between;}
.modal .modal__content .modal__content-item ul li ul {justify-content: flex-start;}
.modal .modal__content .modal__content-item {padding-bottom: var(--spacing-200);border-bottom: 1px solid var(--rose-100);margin-top: var(--spacing-300);}
.modal .modal__content .modal__content-items-s > li {margin-top: var(--spacing-200);}
.modal .modal__content .modal__content-items-s > li:first-child {margin-top: 0px;}
.modal .modal__content .modal__content-item .modal__content-image img {width: 4.8rem;height: 4.8rem;border-radius: var(--spacing-50);margin-right: var(--spacing-200);}
.modal .modal__content .modal__content-item .modal__content-details-title {color: var(--rose-900);max-width: 112px;overflow:hidden;text-overflow: ellipsis;}
.modal .modal__content .modal__content-item .modal__content-details {display: flex;flex-direction: column;justify-content: space-between;}
.modal .modal__content .modal__content-item .modal__content-details-amount{color:var(--red);margin-right: var(--spacing-150);}
.modal .modal__content .modal__content-item  .modal__content-details-price {color: var(--rose-500);}
.modal .modal__content .modal__content-item .modal__content-total {color: var(--rose-900);display: flex;align-items: center;justify-content: c;}
.modal .modal__content .modal__content-item .modal__content-item-detail {display: flex;flex-direction: row;}
.modal .modal__content .modal__content-total {display: flex;flex-direction: row;justify-content: space-between;padding-top: var(--spacing-300);align-items: center;}
.modal .modal__content .modal__content-total .modal__content-title {color: var(--rose-900);}
.modal .modal__content .modal__content-total .modal__content-total-price {color:var(--rose-900);}
.modal .modal_content-button .cart__total-confirm-button {background-color: var(--red);width: 100%;height: 5.3rem; color:var(--white);border-radius: var(--spacing-1100);border: none;}
.modal .modal_content-button .cart__total-confirm-button:hover {filter: brightness(75%);transition: all 0.4s ease;cursor: pointer;}


.footer {display: flex;align-items: center;justify-content: center;padding-top: var(--spacing-200);padding-bottom: var(--spacing-200);background-color: white;}



@media (min-width:767px){
    .container {padding: var(--spacing-500);}
    .products {display: grid;grid-template-columns: 1fr 1fr 1fr;row-gap: var(--spacing-200);column-gap: var(--spacing-400);}
    .modal .modal__content {bottom:auto;width: 90%;}
    .modal{display: flex;align-items: center;justify-content: center;}
    .modal .modal__content .modal__content-header .modal__content-header-title br {display: none;}
    .modal .modal__content {padding: var(--spacing-500) var(--spacing-500);}
    .modal .modal__content .modal__content-item .modal__content-details-title {max-width: 100%;}
    .modal .modal__content .modal__content-items .modal__content-items-s {max-height: 30rem;}
}



@media (min-width:1023px){
    .container {padding: var(--spacing-1100);}
    .container main {display: grid;grid-template-columns: 70% 30%;gap: var(--spacing-400);}
    .modal .modal__content {bottom:auto;width: 35%;}
}























lumn-

































